<div class="container">
  <div class="titulo">
    <h3>Anais do Simpósio Latino Americano de Ciências de Alimentos </h3>
    <h1>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos </h1>
    <h3>ISSN: 1234-5678</h3>
  </div>
  <div class="btn-idioma">
    <button type=""><i class="fa-solid fa-globe"></i> PT, BR<i class="fa-solid fa-arrow-down"></i></button>
  </div>
  <div class="login">
    <div class="texto">
      <p>Bem vindo!</p>
      <p>alguem12@galoascience.com</p>
    </div>
    <img src="../../../assets/image.png" alt="foto de login">
  </div>
</div>
