<div class="container">
  <div class="header">
    <div class="titulo">
      <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares
        <br> entre 09 e 15 anos, do município de Campinas/SP </h2>
    </div>
    <div class='titulo_side'>
      <div class="botoes">
        <button class="download"><i class="fa-solid fa-download"></i> Download</button>
        <button><i class="fa-solid fa-star"></i></button>
        <button>doi</button>
    </div>
    <div class="comentario">
        <h4>COMO CITAR ESSE TRABALHO?</h4>
    </div>
  </div>
  </div>
  <div class="conteudo">
    <video poster="../../../assets/vídeo apresentação (1).png" width="783" height="439" controls>a</video>
    <div class="detalhes">
      <div class="detalhes_titulo">
        <h1>Detalhes</h1>
      </div>
      <div class="detalhes_conteudo">
        <p>Tipo de Apresentação: <b>Pôster</b></p>
        <p>Eixo temático: <b>Alimentação e saúde<br> (AS)</b></p>
        <p>Palavras-chaves:<b>Alimentos <br>funcionais, alimentação escolar.</b></p><br>
        <br>
        <b class="autores-b">Autores:</b>
        <p class="autores-p">Galileo Galilei¹<br>
          Berta Lange de Morretes²<br>
          Isaac Newton³<br>
          Cesar Lattes¹<br>
          Stephen Hawking⁴</p>
          <br>
          <br>


        <P class="Universidade">¹Universidade Estadual de Campinas <br>
          ²Universidade de São Paulo <br>
          ³Instituto Nacional de Pesquisas Espaciais <br>
          ⁴Universidade Federal do Rio de Janeiro</P>
      </div>
    </div>
  </div>

</div>
